.moderno-category-toggle-wrapper {
    padding: 0;
    width: 100%;
}

.moderno-category-toggle-wrapper a {
    padding: 12px 24px;
    background: #2a7d7d;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize !important;
    letter-spacing: 0;
}

.moderno-category-toggle-wrapper {
    display: flex;
    justify-content: space-between;
    border: none;
}

.moderno-product-sku {
    font-size: 14px;
    color: #666;
    font-weight: 300;
}

.c-product-grid__item--3-per-row .c-product-grid__details, .c-product-grid__item--4-per-row .c-product-grid__details {
    padding: 0;
}

.moderno-view-details-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ccc;
}

.moderno-view-details-button .button {
    font-size: 14px;
    background: none;
    color: #333;
    width: 100%;
}
.moderno-view-details-button .button:hover {
    background: none;
}
.c-product-grid__price-wrap {
    display: none;
}

.c-product-grid__item:after {
    display: none;
}

.l-section__content--with-sidebar {
    padding: 20px 0 20px 40px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}



.moderno-main-category > span {
    background: none;
    border: 1px solid #c8dfdd;
}

.l-section__sidebar--boxed{
    border: none;
    border-top: 1px solid #ccc;
}

.c-sidebar .widget-title {
    text-transform: capitalize;
}

.c-sidebar .widget_product_categories ul > li > a:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-color: #aaa;
    border-radius: 4px;
}

.c-shop-sidebar__content--desktop {
    padding: 0;
}


.widget {
    padding-right: 40px;
}
.widget:not(:last-child) {
    border-color: #ccc;
}

.c-sidebar__wrap {
    margin-top: 0;
}

.c-product-grid__thumb-wrap {
    border: 1px solid #ccc;
    border-radius: 16px;
}

.c-product-grid__list.c-product-grid__list--sidebar {
    row-gap: 40px;
/*    column-gap: 20px; */
}



.c-product-grid {
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.moderno-result-count-bottom {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
nav.woocommerce-pagination {
    width: 50%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

nav.woocommerce-pagination>ul.page-numbers {
    justify-content: end;
}

a.page-numbers, a.post-page-numbers, span.page-numbers, span.post-page-numbers {
    display: inline-flex
;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: solid 1px currentColor;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
}

span.page-numbers:not(.dots), span.post-page-numbers:not(.dots) {
    background: #2a7d7d;
}

.c-product__tabs-item:not(:last-child) {
    border-color: #eee;
}
.no-border {
    border: 0 !important;
}
.flex {
    display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.sidebar-title {
    padding: 20px 0;
    line-height: 44px;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    margin-right: -1px;
    margin-top: -1px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: relative;
}